body{

font-family:Arial;
background:#f5f5f5;
text-align:center;

}

#apps{

display:flex;
flex-wrap:wrap;
justify-content:center;

}

.card{

background:white;
margin:20px;
padding:20px;
width:200px;
border-radius:10px;

}

button{

padding:10px;

}